root = true

[*]
charset = utf-8
end_of_line = crlf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 4

[*.{xaml,csproj,props,pubxml,xml}]
indent_size = 4

[*.{yml,json}]
indent_size = 2

[*.yml]
end_of_line = lf

[*.md]
trim_trailing_whitespace = false

# Тестовые данные не форматируются.
[tests/**/{Config,Golden}/**]
charset = unset
end_of_line = unset
insert_final_newline = unset
trim_trailing_whitespace = unset

[*.cs]
csharp_style_namespace_declarations = file_scoped:warning
csharp_style_var_for_built_in_types = false:none
csharp_prefer_braces = when_multiline:suggestion
dotnet_sort_system_directives_first = true
